:root {
  --background: #f5fcfe;
  --backgroundAccent: #dff9fe;

  /*
  --background: #052a34;
  --backgroundAccent: #023a45;
*/

  --textLightAccent: #ffac6b;
  --textAccent: #ff8d67;
  --lightTextColor: #b0b0b0;
  --textColor: #808080;

  --darkAccent: #fd6470;

  --borderColor: #87ceeb;
}

#root {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--textColor);
}

.darkAccent {
  background-color: var(--darkAccent);
}


.accent {
  color: var(--textAccent);
}

.pastel-black {
  color: #333333;
  /* Very dark gray, approaching black */
  /* You can use this color for text, background, or borders */
}

.pastel-red {
  color: var(--darkAccent);
}

.back-pastel-green {
  background-color: #c2e8c2;
}

.pastel-green {
  color: #6faa6f;
}

.back-pastel-purple {
  background-color: #e0d8f1;
}

.pastel-purple {
  color: #8f7aae;
}

.pastel-orange {
  color: #ff8d67;
}

.red-button,
.orange-button {
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.red-button {
  background-color: var(--darkAccent)
}

.orange-button {
  background-color: var(--textAccent);
}

/* BACK TO TOP BUTTON */
.back-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  width: 30px;
  cursor: pointer;

}

.back-to-top-button:hover {
  opacity: 1;
}

.show-back-to-top {
  display: inline;
}

.search-input {
  background-color: var(--backgroundAccent);
  padding: 8px;
  border: 1px solid #87ceeb;
  border-radius: 5px;
  /* Light blue border */
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-container {
  background-color: var(--backgroundAccent);
  bottom: 0;
  margin: 10px;
}


.footer-name {
  padding-bottom: 35px;
}

footer button:hover {
  border: #87ceeb 3px solid;
}

.main-content {
  min-height: calc(100vh - 187px)
}
