@import "./global.css";

.home-title-outside-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.home-title-container {
  text-align: left;
  margin-bottom: 0px;
  padding: 20px;
  width: 100%;
  max-width: 1260px;
}

.home-title {
  font-weight: bold;
  word-spacing: 2px;
}

.home-subtitle {
  color: var(--textColor);
  font-weight: lighter;
  border-bottom: 1px solid var(--textColor);
  padding-bottom: 25px;
}


.input-outside-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1260px;
  margin-bottom: 7px;
}



.search-input {
  background-color: var(--backgroundAccent);
  padding: 8px;
  border: 1px solid #87ceeb;
  /* Light blue border */
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
}

.sort-posts-container {
  margin-right: 20px;
  margin-left: 20px;
}


.sort-button {
  background-color: var(--textAccent);
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid var(--borderColor);
  /* Light blue border */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition effect */
}

.sort-button:hover {
  background-color: #ff4500;
  /* Change to your desired hover color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow on hover */
}

/*PostPreviews*/
.post-preview-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 1250px;
}

.post-preview {
  display: flex;
  text-align: left;
  flex-direction: column;
  border: var(--borderColor) solid 1px;
  margin: 10px 25px 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  width: 590px;
  background-color: var(--backgroundAccent);

  border-radius: 5px;
  color: inherit;
}

.post-preview:hover {
  text-decoration: inherit;
  color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-preview-top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post-preview h2 {
  text-align: left;
  margin-bottom: 20px;
}

.post-preview-img-content {
  display: flex;
  flex-direction: row;
}

.post-preview-image {
  max-width: 200px;
  width: 100%;
  width: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.post-preview-content {
  font-size: 16px;
  padding: 0px 20px 0px 0px;
}

.post-preview .media,
.post-preview .image {
  display: none;
}


.post-preview-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-image {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

}

.vote-image img {
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.preview-tags-container {
  display: flex;
  gap: 5px;
}

.post-category {
  background-color: #ffd3db;
  border-radius: 20px;
  padding: 7px;
  font-size: 0.70rem;
}




@media only screen and (max-width: 765px) {

  /* for the input items */
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .search-input {
    margin-bottom: 20px;
    width: 90%;
  }
}

@media only screen and (max-width: 1298px) {
  .post-preview {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .post-preview-container {
    width: auto;
  }
}

@media only screen and (max-width: 635px) {
  .post-preview-img-content {
    flex-direction: column;
  }
}
