@import "./global.css";

nav {
  margin: 10px;
  background-color: var(--backgroundAccent);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Disable link underlining */
.link {
  color: inherit;
}

.link:hover {
  text-decoration: inherit;
}

nav h3 {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-link {
  font-weight: bold;
}

.plus-link {
  transition: transform 0.3s ease-in-out;
  background-color: var(--backgroundAccent) !important;
  padding: 10px;

}

.plus-link:hover {
  background-color: var(--backgroundAccent) !important;
}

.plus-link img {
  width: 20px;
}


.plus-link:hover img {
  animation: jump 1s ease infinite;
}

@keyframes jump {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}


@media only screen and (max-width: 550px) {
  nav h3 {
    display: none;
  }


}

/* profile pic in nav bar */

.profile-pic-link {
  text-decoration: none !important;
  color: black;
  background-color: #9adde7;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-pic-link:hover {
  color: black;
}


.dropdown-menu {
  position: absolute !important;
  left: -110px !important;
}
